#search-container {
text-align: center;
background-image: url("garden.jpg");
height: 500px;
}

#weather-container {
    text-align: center;
    }

#darkModeContainer.p {
    float:left;

}

#checkbox {
    float: left;
}

#email {
    padding: 100px;
}