body {
        text-align: center;     
  }

form {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 5px;
}

  #search-container {
    background-image: url("garden.jpg");
    height: 500px;
  }